- content_for :breadcrumb do
  li = link_to "Изображения", siteimages_path
  li.active Обрезка изображения
- if user_signed_in?
 = javascript_include_tag "/plugins/cropper/jquery.Jcrop.min.js"    
 = error_messages! @item
 = panel_title  "Обрезка изображения" do
  = form_for(@item, :html => { :multipart => true } ) do |f|  
    script
     |function showCoords( c ) {$( '#siteimage_x1' ).val(c.x);$( '#siteimage_y1' ).val(c.y);$( '#siteimage_width' ).val(c.w);$( '#siteimage_height' ).val(c.h);}
      $(function(){$('#jcrop_target').Jcrop({onChange: showCoords,onSelect: showCoords});});
    #jcrop_target
     = image_tag @item.image.url(:edit), :id => 'cropimage'
    .form-group
     = f.text_field :x1
     = f.text_field :y1
     = f.text_field :width
     = f.text_field :height
    = f.submit :save
= panel do
 = button_link :back, siteimages_path
