- content_for :breadcrumb do
 li.active Изображения
- if user_signed_in?
 = panel_title "Изображения" do
  == will_paginate  @items
  - @items.each do |i|
   div class="col-sm-4 col-md-3"
    div class="thumbnail" style="height:175px"
     = image_tag i.image.url ,:class =>"img-thumbnail"
     = image_link_to "/theme/pinky/edit.png",   edit_siteimage_path(i)
     = image_link_to "/theme/pinky/delete.png",   delete_siteimage_path(i), {confirm: conf_delete_msg(i,i.image.url)}
     = image_link_to "/theme/pinky/search.jpg",   i.image.url(:original)    
  .clearfix
  == will_paginate  @items
  br
  == page_entries_info @items, :model => Siteimage
 = panel do
  = button_link :create, new_siteimage_path
