- content_for :breadcrumb do
 li = link_to "Изображения", siteimages_path
 li.active Создание изображения
-if user_signed_in?
 = panel_title  "Создание изображения" do
  = error_messages! resource
  = form_for(@item, :html => { :multipart => true } ) do |f|  
   = f.file_field :image
   = f.submit  :save
= panel do
 = button_link :back, siteimages_path
