- content_for :breadcrumb do
 li = link_to "Изображения", siteimages_path
 li.active =@item.id.to_s
= panel_title "" do
 = image_tag @item.image.url(:original)
= panel do
 = button_link :back, siteimages_path
 -if user_signed_in?
  =button_link :edit, edit_siteimage_path(@item),1
