meta http-equiv="Content-Type" content="text/html; charset=utf-8"
 title
  |
   Идея
  = yield :title
 = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
 = javascript_include_tag "application", "data-turbolinks-track" => true
 = csrf_meta_tags
 ==yield :javas