div.side_block
 div.list-group
  li.list-group-item
   p.list-group-item-text    
    = render partial: "issues/issue", collection: Issue.all.order('id desc').limit(1)
div.side_block
 div.list-group
  =render '/share/vk/group'
 
= render '/share/stat/counters/yandex_metrica' 
= render '/share/stat/counters/mailru'
