nav class="navbar navbar-default navbar-fixed-top" role="navigation"
 div.container-fluid
  div.navbar-header
   button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar"
    span class="sr-only" Toggle navigation
    span.icon-bar
    span.icon-bar
    span.icon-bar
   a class="navbar-brand" href="/"
    = image_tag '/theme/zaya/new_logomenu.png'
  div class="collapse navbar-collapse" id="navbar"
   ul class="nav navbar-nav"
    /li
     = menu_paper_link("prays")
    li
     = link_to "Подать заявку на рекламу", feedback_ads_path
    li
     = link_to "Предложить идею", feedback_ideya_path      
    /li      
     = link_to "Отзывы", page_path(:otzivs)
    li      
     = link_to "Альбомы", vkalbums_path
    li      
     = link_to "Архив номеров", issues_path
   = render "share/usermenu"
