ul class="nav navbar-nav navbar-right"
 - if user_signed_in?
  li.dropdown
   a href="#" class="dropdown-toggle" data-toggle="dropdown"
    = image_tag "/theme/pinky/tools.png", :style=> "height:20px"
     b.caret
   ul.dropdown-menu
    li
     = link_to "Новости",novosts_adm_path
    li
     = link_to "Страницы",papers_path
    li
     = link_to "Статьи",articles_adm_path
    li
      = link_to "Архив номеров",issues_adm_path
    li
      = link_to "Партнеры",partners_path
    li
      = link_to "Изображения",siteimages_path
  li
   = link_to destroy_user_session_path do
    = image_tag "/theme/pinky/shutdown.png", :style=> "height:20px"
 - else
  - if controller_name != 'sessions'
   li
    = link_to new_session_path(resource_name) do
     = image_tag "/theme/pinky/user.png", :style=> "height:20px"
