<!--LiveInternet logo-->
<a href="http://www.liveinternet.ru/click" target="_blank">
<img src="//counter.yadro.ru/logo?54.6" border="0" width="88" height="31" alt="" title="LiveInternet: показано число просмотров и посетителей за 24 часа"/>
</a><!--/LiveInternet-->