.thumbnail style="height:200px"
 center
  - a=issue.cover
  = link_to issue do
   - unless a.nil?
    = image_tag a.image.url(:cover)  ,:class =>"img-thumbnail"
   - else
    = image_tag "/theme/nocover.png"  ,:class =>"img-thumbnail"
   .caption
    =issue.caption
