-content_for :breadcrumb do
  li = link_to "Архив номеров", issues_path
  li = link_to @item.caption, issue_path(@item)
  li.active Редактирование
-if user_signed_in?
 = panel_title "Редактирование номера "+@item.caption do
  = render 'form'
 = panel do
  = button_link :back, issues_adm_path
  = button_link :go_issue_pages, issue_issuepages_path(@item),3
  = button_link :go_issue_page_add, new_issue_issuepage_path(@item),1
  = button_linkConf :delete, delete_issue_path(@item) ,4, conf_delete_msg(@item,@item.caption)
