-content_for :breadcrumb do
  li.active Архив номеров
-if user_signed_in?
 = panel_title "Архив номеров" do
  == will_paginate  @items
  - @items.each do |i|
   div class="col-sm-4 col-md-3"
    div.thumbnail style="height:220px"
     =image_link_to "/theme/pinky/edit.png",   edit_issue_path(i)
     =image_link_to "/theme/pinky/delete.png",   delete_issue_path(i), {confirm: conf_delete_msg(i,i.caption)}
     center      
      = link_to i do
       - a=i.cover;
       - unless a.nil?
        = image_tag a.image.url(:cover),:class =>"img-thumbnail"
       - else
         = image_tag "/theme/nocover.png",:class =>"img-thumbnail"
       div.caption
        =i.caption
  div.clearfix  
  == will_paginate  @items
  == page_entries_info @items, :model => Issue
 = panel do
  = button_link :create, new_issue_path
