-content_for :breadcrumb do
  li = link_to "Архив номеров", issues_path
  li.active Создание номера
- if user_signed_in?
 =panel_title  "Создание номера" do
  = render 'form'
 = panel do
  = button_link :back, issues_adm_path

