<%= javascript_include_tag "/plugins/turn/turn4.min.js" %>
<%= javascript_include_tag "/plugins/turn/zoom.min.js" %>
<style>
#magazine{
    
	width:100%;
}
#magazine .turn-page{
	background-color:#ccc;
	background-size:100% 100%;
}
.mag_page
{
    background-size:cover;
    background-position:center;
}
.odd
{
  background-position: left  center;
}
.even{
 background-position: right center;
}
.page
{
 background-repeat: no-repeat;
 background-size: contain;
} 

#shadow-page{
    width:600px;
    height:700px;
    position:absolute;
    top:0px;
    right:0px;
    -moz-box-shadow: 5px 5px 10px #888;
    -webkit-box-shadow: 5px 5px 10px #888;
    box-shadow: 5px 2px 10px #888;
    z-index:-1;
}
.btns{
    position: relative;
    top: -300px;
    z-index: 99999;
}
</style>
<% content_for :breadcrumb do%>
  <li><%= link_to "Архив номеров", issues_path %></li>
  <li class="active"><%=@item.caption %></li>
<%end%>

<%= panel_title @item.caption do%>

<div style="width:796px;">
<div id="magazine">
    <%if @item.issuepages.each do |page|%>
      <div style="background-image:url(<%= page.image.url(:page)%>);"></div>
    <%end.empty? then%>
     pages not yet uploaded
    <%end%>
</div>
    <div class=btns>
        <table width="100%"><tr>
          <td><a href="#" id="previous"><img src="/theme/zaya/left.png"></a></td>        
          <td align=right><a href="#" id="next" class="btn_right"><img src="/theme/zaya/right.png"></a></td>
          </tr></table></div>
</div>
<script>
   $(window).ready(function(){$('#magazine').turn(
  {display: 'double', acceleration: true,gradients: !$.isTouch,	elevation:50, autoCenter: true,
    width: 796,
    height: 587
  });});
  $(window).bind('keydown', function(e){if (e.keyCode==37)$('#magazine').turn('previous');else if (e.keyCode==39)$('#magazine').turn('next');});
  $('#next')    .click(function(e) {$('#magazine').turn('next');return false;});
  $('#previous').click(function(e) {$('#magazine').turn('previous');return false;});
</script>  
  <%= @item.text.html_safe%>
  <br>
  <%= render 'share/allsoc/like'%>
<%end%>
<%= panel do%>
  <%= button_link :back, issues_path%>
  <% if user_signed_in? %>
    <%= button_link :edit, edit_issue_path(@item) , 1%>
    <%= button_link :go_issue_pages, issue_issuepages_path(@item),3%>
    <%= button_link :go_issue_page_add, new_issue_issuepage_path(@item),1%>
    <%= button_linkConf :delete, delete_issue_path(@item) ,4, conf_delete_msg(@item,@item.caption)%>
  <%end%> 
<% end %>