= javascript_include_tag "/plugins/tinymce/tinymce.min.js"
= javascript_include_tag "/plugins/tinymce/paper.js"
= error_messages! @item
= form_for(@item) do |f|
 = f.text_field :title
 = f.text_area :html
 = f.submit  :save

