-content_for :breadcrumb do
 li = link_to "Партнеры", partners_path
 li = @item.title
 li.active Редактирование
-if user_signed_in?
 = panel_title "Редактирование партнера "+@item.title do
  = render 'form'
= panel do
 = button_link :back, partners_path
