- content_for :breadcrumb do
 li.active Партнеры
-if user_signed_in?
 = panel_title "Партнеры" do
  == will_paginate  @items
  ul
   -@items.each do |i|
    li
     =image_link_to "/theme/pinky/edit.png",   edit_partner_path(i)
     =image_link_to "/theme/pinky/delete.png", delete_partner_path(i) , {confirm: conf_delete_msg(i,i.title)}  
     =link_to i.title, novost_path(i)
  == will_paginate  @items
  == page_entries_info @items , :model => Partner
 = panel do
  = button_link :create, new_partner_path
