-content_for :breadcrumb do
 li = link_to "Партнеры", partners_path
 li.active Добавление партнера
-if user_signed_in?
 = panel_title "Добавление партнера" do
  = render 'form'
= panel do
 = button_link :back, partners_path
