-content_for :breadcrumb do
 li = link_to "Партнеры", partners_path
 li.active @item.title
= panel_title @item.title do
  = @item.html.html_safe
= panel do
 = button_link :back, partners_path
 - if user_signed_in?
   = button_link :edit, edit_partner_path(@item) , 1
