=link_to article_path(article),class: "list-group-item" do
 h4.list-group-item-heading
  =article.title
 p.list-group-item-text
  == truncateB(article.text.gsub(/<.+?>/,''),:length=>500,:omission=>'')
