= javascript_include_tag "/plugins/tinymce/tinymce.min.js"
= javascript_include_tag "/plugins/tinymce/paper.js"
= error_messages! @item
= form_for(@item) do |f|
 = f.text_field :title
 table width="100%"
  tr
   td width="40%"
    = f.text_field :layout
   td
    = f.check_box  :use_template
   td 
    = f.check_box  :publish
 = f.text_area  :text
 = f.submit     :save
