- content_for :breadcrumb do
 li
  = link_to "Статьи", articles_path
 li
  = link_to @item.title, article_path(@item)
 li.active
  |
   Редактирование
- if user_signed_in?
 = panel_title "Редактирование статьи "+@item.title do
  = render 'form'
= panel do
 = button_link :back, articles_adm_path
