- content_for :breadcrumb do
 li.active
  |
   Статьи
= panel_title "Статьи" do
 == will_paginate @items
 div.list-group
 - @items.each do |article| 
   =link_to article_path(article),class: "list-group-item" do
    h4.list-group-item-heading
     =article.title
    p.list-group-item-text
     ==truncateB(article.text.gsub(/<.+?>/,''),:length=>500,:omission=>'')
 == will_paginate @items
 == page_entries_info @items , :model => Article
