-content_for :breadcrumb do
  li.active
   |
    Статьи
-if user_signed_in?
 = panel_title "Статьи" do
  == will_paginate @items
  ul
   -@items.each do |i|
    li
     =image_link_to "/theme/pinky/edit.png",   edit_article_path(i)   
     =image_link_to "/theme/pinky/delete.png", delete_article_path(i) , {confirm: conf_delete_msg(i,i.title)}  
     =link_to i.title, article_path(i)
  == will_paginate @items
  == page_entries_info @items , :model => Article, :html => false
 = panel do
  = button_link :create, new_article_path
