- content_for :breadcrumb do
 li
  = link_to "Статьи", articles_path
 li.active
  |
   Создание статьи
-if user_signed_in?
 = panel_title  "Создание статьи" do
  = render 'form'
= panel do
 = button_link :back, articles_adm_path
