- content_for :breadcrumb do
 li
  = link_to "Статьи", articles_path
 li.active
  =@item.title
== @item.text
= panel do
 = button_link :back, articles_path
 -if user_signed_in?
  = button_link :edit, edit_article_path(@item) , 1
