=link_to novost_path(novost),class: "list-group-item" do
 h4.list-group-item-heading
  =novost.created_at.strftime ("%d.%m.%Y")
  | - 
  =novost.title
 p."list-group-item-text"
  == truncateB(novost.text.gsub(/<.+?>/,''),:length=>500,:omission=>'')
