-content_for :breadcrumb do
 li = link_to "Новости", novosts_path
 li = link_to @item.title, novost_path(@item)
 li.active Редактирование
-if user_signed_in?
 = panel_title "Редактирование новости: "+@item.title do
  = render 'form'
= panel do
 = button_link :back, novosts_adm_path
