-content_for :breadcrumb do
 li.active Новости
= panel_title "Новости" do
  == will_paginate  @items
  div.list-group
    = render partial: "novost", collection: @items
  == will_paginate  @items
  == page_entries_info @items, :model => Novost
= panel do
 = button_link :back, novosts_adm_path
 - if user_signed_in?
   = button_link :create, new_novost_path , 1
