- content_for :breadcrumb do
 li.active Новости
-if user_signed_in?
 = panel_title "Новости" do
  == will_paginate  @items
  ul.tree
   -@items.each do |i|
    li
     =image_link_to "/theme/pinky/edit.png",   edit_novost_path(i)
     =image_link_to "/theme/pinky/delete.png", delete_novost_path(i) , {confirm:conf_delete_msg(i,i.title)}  
     =link_to i.title, novost_path(i)
  == will_paginate  @items
  == page_entries_info @items , :model => Novost
 = panel do
  = button_link :create, new_novost_path
