-content_for :breadcrumb do
 li = link_to "Новости", novosts_path
 li.active Создание новости
-if user_signed_in?
 = panel_title "Создание новости: " do
  = render 'form'
= panel do
 = button_link :back, novosts_adm_path
