-content_for :breadcrumb do
 li = link_to "Новости", novosts_path
 li.active @item.title
= panel_title @item.title do
  = @item.text.html_safe
= panel do
 = button_link :back, novosts_adm_path
 - if user_signed_in?
   = button_link :edit, edit_novost_path(@item) , 1
