doctype transitional
html xmlns="http://www.w3.org/1999/xhtml"
 head
  = render "share/head"
 body
  / = render 'share/allsoc/init'
  / = render "share/topmenu"
  / = render "share/footer"
  center style="min-width:1024px;"
   table width="630px" height="574px" style="background:url(/theme/zaya/new_title.png);"
    tr
     td valign="top"
      table width="630px" height="54px" 
       tr
        td align="left"  style="padding-left:100px;"
         /= link_to article_path(3)      
          img src="/theme/zaya/new_title_logo.png"
         /= link_to "Предложить рекламу", feedback_ads_path
         = link_to "Предложить идею", feedback_ideya_path
         |&nbsp;&nbsp;&nbsp;      
         /= link_to "Отзывы", page_path(:otzivs)
         /|&nbsp;&nbsp;&nbsp;
         = link_to "Альбомы", vkalbums_path
         |&nbsp;&nbsp;&nbsp;
         = link_to "Архив номеров", issues_path
         |&nbsp;&nbsp;&nbsp;
      center
       br
       br
       br
       br
        = link_to article_path(3) do
         img src= '/theme/zaya/new_logo.png'
   br
   br
   br     
