= form_for(@issuepage) do |f|
 -if @issuepage.errors.any?
  #error_explanation
   h2 = pluralize(@issuepage.errors.count, "error") | prohibited this issuepage from being saved:
   ul
    - @issuepage.errors.full_messages.each do |msg|
     li = msg
  .actions
    = f.submit :save
