- content_for :breadcrumb do
  li = link_to "Архив номеров", issues_path
  li = link_to @issue.caption, issue_path(@issue)
  li.active Редактирование страницы

= render 'form'

= panel do
 = button_link :back, issue_issuepages_path(@issue)
