- content_for :breadcrumb do
 li = link_to "Архив номеров", issues_path
 li = link_to @issue.caption, issue_path(@issue)
 li.active Страницы
= panel_title "Страницы номера "+@issue.caption do
 == will_paginate  @items
 -@items.each do |i|
  div class="col-sm-4 col-md-3"
   .thumbnail style="height:210px"
    = image_link_to "/theme/pinky/page_bookmark.gif",   cover_issuepage_path(@issue,i)             
    = image_link_to "/theme/pinky/delete.png",   delete_issuepage_path(i) , {confirm: conf_delete_msg(i,i.note)}
    center             
     = image_tag i.image.url(:cover)  ,:class =>"img-thumbnail"
     .caption = i.note
 .clearfix  
 == will_paginate  @items
 == page_entries_info @items, :model => Issuepage
- if user_signed_in?
 = panel do
  = button_link :go_issue_list, issues_adm_path
  = button_link :go_issue,      edit_issue_path(@issue),2
  = button_link :go_issue_page_add, new_issue_issuepage_path(@issue),1
