- content_for :breadcrumb do
  li = link_to "Архив номеров", issues_path
  li = link_to @issue.caption, issue_path(@issue)
  li.active Добавление страницы

- if user_signed_in?
 = error_messages! @item
 = panel_title  "Добавление страницы" do
  = form_for([@issue,@item],  :html => { :multipart => true } ) do |f|  
   = f.text_field :note
   = f.file_field :image
   = f.submit  :save
 = panel do
  = button_link :back, issue_issuepages_path(@issue)
