= javascript_include_tag "/plugins/tinymce/tinymce.min.js"
= javascript_include_tag "/plugins/tinymce/paper.js"
= error_messages! @item
= form_for(@item) do |f|
  = f.text_area :text
  = f.submit  :save
