-content_for :breadcrumb do
 li = link_to "Страницы", papers_path
 li = link_to @item.title, paper_path(@item)
 li.active Редактирование

-if user_signed_in?
 = panel_title "Редактирование страницы: "+@item.title do
  = render 'form'
= panel do
 = button_link :back, papers_path
