-content_for :breadcrumb do
  li.active Страницы
= panel_title "Страницы" do
 ==will_paginate  @items
 ul.tree
  -@items.each do |i|
   li
    -if user_signed_in?
     =image_link_to "/theme/pinky/edit.png",   edit_paper_path(i)
    =link_to i.title,paper_path(i)
 == will_paginate  @items
 == page_entries_info @items, :model => Paper
