-content_for :breadcrumb do
 li = link_to "Страницы", papers_path
 li.active Создание страницы

-if user_signed_in?
 = panel_title  "Создание страницы" do
  = render 'form'
= panel do
 = button_link :back, papers_path
