-content_for :breadcrumb do
 li = link_to "Страницы", papers_path
 li.active =@item.title
= panel_title @item.title do
 == @item.text
= panel do
 = button_link :back, papers_path
 -if user_signed_in?
  = button_link :edit, edit_paper_path(@item) , 1
