html
 head
  meta content='text/html; charset=UTF-8' http-equiv='Content-Type'
 body
  | Имя:
  br
  h1
   = @msg.name
  br
  | Телефон:
  br
  h1
   = @msg.phone
  br
  | Е-мэйл:
  br
  h1
   = @msg.email
  br
  | Сообщение:
  br
  p
   == @msg.msg
  br
