|===============================================
|Имя:
= @msg.name
|-----------------------------------------------
|Телефон:
= @msg.phone
|-----------------------------------------------
|Е-мэйл:
= @msg.email
|===============================================
|Сообщение:
= strip_tags(@msg.msg)
|===============================================
