<script src="/plugins/jquery-loadTemplate/jquery.loadTemplate-1.4.3.min.js"></script>
<%= panel_title "Альбомы" do %>

<div  id="template-containeer">
</div>

<% content_for :breadcrumb do %>
 <li class=active>Альбомы</li>
<%end%>
<script type="text/html" id="template">
<div class="col-sm-4 col-md-3">
  <div class=thumbnail style="height:200px">
    <center>
      <a data-link="link">
        <img data-src="thumb_src">
      </a>
      <div class="caption" data-content="title"></div>
    </center>
  </div>
</div>  
</script>

<script>
$(function()
{
    $.getJSON('https://api.vk.com/method/photos.getAlbums?owner_id=-66233973&&need_covers=1&callback=?',function(data)
    {
        $.each(data.response,function(i,d){d.link='/vk/photos/'+d.aid;});
        $('#template-containeer').loadTemplate($("#template"),data.response);
    });
});         
</script>
<%end%>
