<script src="/plugins/underscore/underscore-min.js"></script>
<script type="text/javascript" src="/plugins/fancybox/source/jquery.fancybox.js?v=2.1.5"></script>
<link rel="stylesheet" type="text/css" href="/plugins/fancybox/source/jquery.fancybox.css?v=2.1.5" media="screen" />
<!-- Add Button helper (this is optional) -->
<link rel="stylesheet" type="text/css" href="/plugins/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" />
<script type="text/javascript" src="/plugins/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
<!-- Add Thumbnail helper (this is optional) -->
<link rel="stylesheet" type="text/css" href="/plugins/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" />
<script type="text/javascript" src="/plugins/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
<!-- Add Media helper (this is optional) -->
<script type="text/javascript" src="/plugins/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

<% content_for :breadcrumb do %>
 <li><%= link_to "Альбомы", vkalbums_path %></li>
 <li class=active></li>
<%end%>
<%= panel_title "" do %>
<div  id="template-containeer">
</div>
<script>
$(document).ready(function()
{
    $.getJSON('https://api.vk.com/method/photos.getAlbums?owner_id=-66233973&album_ids=<%=params[:id]%>&callback=?',function(data)
    {
        $('.panel-heading').append(data.response[0].title);
        $('.active').append(data.response[0].title);
    }).done(function() 
    {
        $.get("/template/vk_photo",{},function(data1)
        {      
            $.getJSON('https://api.vk.com/method/photos.get?owner_id=-66233973&album_id=<%=params[:id]%>&callback=?',function(data)
            {
                $('#template-containeer').html(_.template(data1,data));            
                $('.fancybox').fancybox({   prevEffect : 'none',     nextEffect : 'none',
                     nextClick : true
                    //helpers : { thumbs : {  width  : 50,  height : 50  } }
                });
            });
        },"text");
    });
});    
</script>
<%end%>

