/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'twitter/bootstrap';


//html {background:url(/theme/pinky/body.gif) fixed;}

body { padding-top: 51px;
   margin:0;
//    background:url(/theme/pinky/body_bckg.gif) fixed;
    
   background:url(/theme/zaya/new_bg.gif) fixed;
   background-repeat: repeat-x;
//   color: #e6402a;
//color:black;
//font-weigth:bold;
  // min-height:644px;
}

.field_with_errors {
//  @extend .control-group;
//  @extend .error;
}

.form-horizontal .field_with_errors
{
  margin: 0;
}

.form-horizontal .field_with_errors:before, .form-horizontal .field_with_errors::after 
{
  display: block;
  clear: none;
}
.list-group-item,.panel-body{
  padding-left: 6px;
  padding-right: 6px; }
 
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 4px;
  padding-right: 4px; }
.panel {background:transparent; border:transparent;}  
.navbar-default{background:url(/theme/zaya/new_ebg_menu2.png);
 border:transparent;
}



mm
.navbar-default .navbar-nav > li > a {
    color: #e6402a;}
    
    
    
.panel-default, .dropdown-menu {
   background:url(/theme/zaya/new_ebg_panel.png);
//background: #B628BA;
     
    }
    
  .panel-default > .panel-heading {
background:url(/theme/pinky/ebg_title.png);color:white;
}
.breadcrumb {background:url(/theme/zaya/new_ebg_panel.png);//new_bg_list
    background:transparent;
}

.breadcrumb > li >a {
   color: #e6402a;
}

.navbar-default .navbar-brand,.dropdown-menu > li > a, a.list-group-item .list-group-item-heading  {
    color: #e6402a;
 }
 
 
  .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, a:hover
  {
      color: yellow;
  }

  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background:url(/theme/zaya/new_bg_list.png);
    color: yellow; }
    
    
    
    
    
   .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #e6402a;
   }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: yellow;
   }
   .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
   .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
   .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: yellow;
   }
   .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
   .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
   .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
      color: red;
    }
    
    
    
    
     
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus
{
  text-decoration: none;
  background:url(/theme/zaya/new_ebg_nav.png);color:yellow;
}

.list-group-item, .navbar-collapse.in, .navbar-collapse.collapsing{
  background:url(/theme/zaya/new_ebg_panel.png);
  //background: #B628BA;
  border:transparent;
}





.side_block, .panel-default,.dropdown-menu{
-webkit-box-shadow: 2px 2px 14px 0px rgba(50, 50, 50, 1);
-moz-box-shadow:    2px 2px 14px 0px rgba(50, 50, 50, 1);
box-shadow:         2px 2px 14px 0px rgba(50, 50, 50, 1);
}
.navbar{
//-webkit-box-shadow: 3px 3px 16px 0px  #B628BA;//rgba(0, 0, 0, 1);
//-moz-box-shadow:    3px 3px 16px 0px  #B628BA;//rgba(0, 0, 0, 1);
//box-shadow:         3px 3px 16px 0px  #B628BA;//rgba(0, 0, 0, 1);
-webkit-box-shadow: 3px 3px 16px 0px  #8A8A8A;//rgba(0, 0, 0, 1);
-moz-box-shadow:    3px 3px 16px 0px  #8A8A8A;//rgba(0, 0, 0, 1);
box-shadow:         3px 3px 16px 0px  #8A8A8A;//rgba(0, 0, 0, 1);
  
  
}


a.list-group-item {
  color: #e6402a;
  background: transparent;
   }
   
   
   
   
  a.list-group-item:hover, a.list-group-item:focus {
    text-decoration: none;
    background:url(/theme/zaya/new_bg_list.gif); }   
   
   
    
a {color:#e6402a; text-decoration:none;}


#footer
{
    background:url(/theme/pinky/footer_bckg.png) center bottom no-repeat;
    position: fixed;
    left:50%;
    margin-left:-500px;
    bottom: 0px;
    width:1000px;
    height:74px;
  }
  
  
.thumbnail {
  background-color: transparent;
  border: transparent;
}  
.thumbnail .caption {
    padding: 9px;
    color: #e6402a;
}
.thumbnail:hover {
  border: 1px solid #dddddd;
  background:url(/theme/zaya/new_bg_list.png);
   
}    
