<!-- Put this div tag to the place, where the Comments block will be -->
<%= panel_title "Отзывы" do%>
  <div id="vk_comments"></div>
<%end%>
<script type="text/javascript">
VK.Widgets.Comments("vk_comments", {limit: 10, width: "*", attach: "*"});
</script>