<li class="list-group-item">
  <p class="list-group-item-text">
    <div id="vk_groups"></div>
  </p>
</li>
<script type="text/javascript">
VK.Widgets.Group("vk_groups", {mode: 2, height: "200",width: "*"}, <%=vk_group_id%>);
</script> 