<script type="text/javascript" src="http://vk.com/js/api/openapi.js?105"></script>
<script type="text/javascript" src="http://vk.com/js/api/share.js?90" charset="windows-1251"></script>
<script type="text/javascript">
  VK.init({apiId: <%=self.vk_app_id%>, onlyWidgets: true});
</script>
