= javascript_include_tag "/plugins/tinymce/tinymce.min.js"
= javascript_include_tag "/plugins/tinymce/paper.js"
- content_for :breadcrumb do
 li.active Акция
= panel_title  "Акция" do
 p Случалось ли Вам в праздники, вместо теплых слов и добрых пожеланий, получать от друзей и близких банальное «поздравляю» или стишок, скачанный из интернета? Сколько одинаковых поздравлений Вам приходило от совершенно разных людей, которые даже не знакомы друг с другом? 
 p А как часто Вы сами используете смс ­рассылку? 
 p И вроде бы все мы исходим из лучших побуждений и искренне желаем друг другу только хорошего. Но не умеем красиво об этом сказать. Или стесняемся. Или просто лень…
 p Мы подготовили для Вас уникальный подарок – эксклюзивное поздравление для Ваших близких. Заполнив форму, расположенную ниже  Вы в течение суток получите на свой электронный адрес образец теплого, милого, душевного а главное единственного во всем мире поздравления.    
 = error_messages! @msg
 = form_for(@msg, :url=>post_feedback_akciya1_path ) do |f|
  = f.text_field :email
  = f.text_field :target
  = recaptcha_tags
  br
  = f.submit :post
= panel do
 = button_link :back, root_path
