= javascript_include_tag "/plugins/tinymce/tinymce.min.js"
= javascript_include_tag "/plugins/tinymce/paper.js"
- content_for :breadcrumb do
 li.active Предложить идею
= panel_title  "Предложи идею" do
 = error_messages! @msg
 = form_for(@msg, :url=>post_feedback_ideya_path ) do |f|
  = f.text_field :name
  = f.text_field :phone  
  = f.text_field :email
  = f.text_area :msg
  = recaptcha_tags
  br
  = f.submit  :post
= panel do
 = button_link :back, root_path
