<div id="fb-root"></div>
<script>
window.fbAsyncInit = function() {FB.init({
appId      : '<%=fb_app_id%>',
status     : true,
xfbml      : true
});};(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));
</script>

