<div class="fb-like-box" 
data-href="<%=request.protocol+request.host+((request.port==80)?'':':'+request.port.to_s)%>" 
data-height="500" 
data-colorscheme="light" 
data-show-faces="true" 
data-header="false" 
data-stream="true" 
data-show-border="false"></div>
