<% a="ok_widget"+ok_div_id.to_s%>
<li class="list-group-item">
  <p class="list-group-item-text">
    <div id="<%=a%>"></div>
  </p>
</li>
<% content_for :odnoklassniki_init do%>
OK.CONNECT.insertGroupWidget("<%=a%>","<%=ok_group_id%>","{width:180,height:335}");
<%end%>
