<% a="ok_widget"+ok_div_id.to_s%>
<div id="<%=a%>"></div>
<% content_for :odnoklassniki_init do%>
OK.CONNECT.insertShareWidget("<%=a%>","<%=request.original_url%>","{width:100,height:30,st:'oval',sz:20,nt:1}");
<%end%>
