.list-group
 = render partial: "novosts/novost", collection: Novost.last5,locals:{trunc:150,hh:5,date:false}
 =link_to novosts_path,class: "list-group-item" do
  h5.list-group-item-heading | Все новости
  