doctype transitional
html xmlns="http://www.w3.org/1999/xhtml"
 head
  = render "share/head"
 body
  = render 'share/allsoc/init'
  = render "share/topmenu"
  / = render "share/footer"
  center style="min-width:1024px;"
   table width="1024px"
    tr
     td width="820px" valign="top"
      = render "share/breadcrumb"
      table width="100%"
       tr
        td width="610px"  = image_tag '/theme/zaya/new_logo.png'
        td
         img src="/theme/zaya/new_phone.png"
      = render "share/center"
      = render "share/breadcrumb"
     td width="*" valign="top"
      br
      = render "share/right"
    
    
    
/     div.container   
      div.row
       = render "share/breadcrumb"
       div.row
        div class="col-sm-10 col-lg-10"
         table width="100%"
          tr
           td = image_tag '/theme/logo2.png'
           td
            |Телефон редакции:
            br
            | (3532) 677-166
            br
            |E-mail:
            br 
            a href="mailto:ideya_2014@mail.ru"
             | ideya_2014@mail.ru
             
         = render "share/center"
         
        div class="col-sm-2 col-lg-2"
         = render "share/right"
       = render "share/breadcrumb"
  = render '/share/ok/init'
  = render '/share/stat/counters/google_analytics'
