doctype transitional
html xmlns="http://www.w3.org/1999/xhtml"
 head
  = render "share/head"
 body
  = render "share/footer"
  div.container   
   div.row
    = render "share/breadcrumb"
    div.row
     div class="col-sm-12 col-lg-12"
      = image_tag '/theme/logo.png', style: 'width:100%'
      = render "share/center"
    = render "share/breadcrumb"
