doctype transitional
html xmlns="http://www.w3.org/1999/xhtml"
 head
  = render "share/head"
 body
  = render 'share/allsoc/init'
  = render "share/topmenu"
  / = render "share/footer"
  center style="min-width:1024px;"
   table width="1024px"
    tr
     td width="820px" valign="top"
      = render "share/breadcrumb"
      = render "share/center"
      = render "share/breadcrumb"
     td width="*" valign="top"
      br
      div.side_block
       div.list-group
        li.list-group-item
         p.list-group-item-text         
          img src='/theme/zaya/new_sm_logo.png'
      br
      div.side_block
       div.list-group
        li.list-group-item
         p.list-group-item-text         
          =render '/share/vk/group'
      = render '/share/stat/counters/yandex_metrica' 
      = render '/share/stat/counters/mailru'
      